// Homepage banner
// ===
//

.c-banner {
  display: flex;
  height: auto;
  position: relative;
  background-color: $color-neutral-10;
  background-size: cover;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $medium) {
    min-height: 207px;
  }

  .center {
    display: block;
    margin: 0 auto;

    img {
      display: inline-block;
      padding: 0;

      &.tlpd_logo {
        width: 225px;
        @media (max-width: $small) {
          width: 100%;
          max-height: 207px;
        }

      }

      &.tlpd_logo_text {
        width: 375px;
        @media (max-width: $small) {
          width: 100%;
          max-height: 207px;
        }
      }
    }
  }

}

.tlpd-header-logo {
  max-width: 315px;
}

@media(max-width: $medium) {
  .tlpd-header-logo {
    max-width: 220px;
  }
}
