/*
|--------------------------------------------------------------------------
| Forms
|--------------------------------------------------------------------------
|
|
|
|
*/

// hides message about field visibility
.field-visibility-settings-notoggle {
  display: none;
}

// hides unused booking fields in single event page
.em-booking-form p {
  display: none;
}

// Switch order of columns on Sign Up form
form.standard-form #profile-details-section {
  float: left;
}

form.standard-form #basic-details-section {
  float: right;
}

// increases line height for time picker
div.time-picker li {
  height: auto;
}

.event-categories select {
  background: none;
  width: 100%;
}

.field-visibility-settings-toggle {
  display: none;
}

// Post Event Page
.entry {
  margin-top: 0;

  em {
    font-size: 16px;
  }
}

// Content Editor
.mce-tinymce.mce-container.mce-panel {
  border: 1px solid $color-gray-mercury;
}

// Post Event Form
#event-form, .css-events-admin {
  p.margin-up {
    margin-top: 0;
  }

  #event-name {
    padding: 8px 11px;
  }

  .mce-path-item {
    display: none;
  }
}


#event-form {
  #em-editor-content_ifr {
    height: 200px !important;
  }
}

.entry,
#event-form {
  em, .margin-up {
    font-size: 16px;
  }

  label {
    text-transform: none;
  }

  h3 {
    font-weight: 800;
    font-size: 22px;
    margin-bottom: $unit;
    margin-top: $unit*10;
  }

  select {
    padding: 9px 25px 9px 15px;
    background-position-x: 98%;
  }

  .event-extra-details label {
    font-weight: 600;
  }

  // Submit button
  .submit.button.orange {
    margin-top: $unit*10 !important;
    background: none;
    border: none;
    padding: 0;

    &:active,
    &:hover,
    &:focus {
      outline: none;
      box-shadow: none;
      border: none;
    }
  }

  .event-form-bookings {
    display: none;
  }

  .event-attributes {
    input[type="text"] {
      width: 50%;
      margin-bottom: 8px;
    }
  }

  .em-location-data {
    input[type="text"] {
      width: 100%;
    }
  }
}

// Form Table
.form-table th,
.events-table th {
  color: $color-neutral-80 !important; //1
}

@media (max-width: $small) {
  input, textarea {
    &.wpcf7-form-control {
      width: 100%;
    }
  }
}