/*
|--------------------------------------------------------------------------
| Map
|--------------------------------------------------------------------------
|
| stylings for the google
|
|
*/

.c-map {
  background-color: $color-neutral-10;
  margin-top: 30px;

  h2 {
    margin-bottom: $unit*6;
    padding-top: $unit*6;
  }

}
