/*
|--------------------------------------------------------------------------
| Map
|--------------------------------------------------------------------------
|
| stylings for the google
|
|
*/

.c-map {
  background-color: $color-neutral-10;
  margin-top: 30px;

  h2 {
    margin-bottom: $unit*6;
    padding-top: $unit*6;
  }

}

// fix for plus/minus icons in google map
.gm-control-active img{
  margin:11px !important;
}


// move event location map over to the right
.entry {
  .single-event-map {
    float: right;
    clear: right;
    margin: 0px 0px 15px 15px;
    width: 400px;
  }
}

@media (max-width: $medium) {
  .entry {
    .single-event-map {
      float: none;
      margin: 0px 0px 15px 0px;
      width: auto;
    }
  }
}