// Event Search
// ====
//
// 1. Important to override specificity

div.css-search,
.em-search-main {
  border: none !important;
}

.c-search {
  padding: $unit*3;
  margin: 0 auto;
  max-width: 1024px;

  @media (min-width: $large) {
    padding: 0;
  }

  h2 {
    margin-bottom: $unit*3;
  }

  .em-search-wrapper {
    margin-bottom: $unit*10;
  }

  .em-search-main,
  .em-search-scope,
  .em-search-advanced,
  .em-search-options,
  .em-search-category {
    display: flex;
  }

  .em-search-main,
  .em-search-advanced {
    flex-direction: column;

    @media (min-width: $small) {
      flex-direction: row;
    }
  }

  .em-search-text,
  .em-search-geo,
  .em-search-category {
    flex: 1;

    input {
      width: 100%;
    }
  }

  .em-search-text,
  .em-search-category {
    @media (min-width: $small) {
      padding-right: $unit*5;
    }
  }

  .em-search-geo {
    @media (min-width: $small) {
      padding-left: $unit*5;
    }
  }

  .em-search-category {
    flex: initial;

    label {
      display: flex;
      flex-direction: column;
    }

    select {
      width: 100%;

      @media (min-width: $xsmall) {
        width: 250px;
      }
    }
  }

  span,
  label {
    text-transform: inherit;
  }

  label + label {
    margin-left: $unit*3;
  }

  .em-search-submit {
    width: 100%;

    @media (min-width: $small) {
      width: auto;
      margin-left: auto;
    }
  }

  .em-search-scope,
  .em-search-location {
    width: 100%;

    @media (min-width: $medium) {
      width: auto;
      float: left;
    }
  }

  .em-search-location-meta {
    display: flex;
    flex-direction: row;

    .em-search-field {
      flex: 1;

      & + .em-search-field {
        margin-left: $unit*4;
      }

      label {
        display: flex;
        flex-direction: column;
      }

      select {
        width: 100%;

        @media (min-width: $medium) {
          width: 250px;
        }
      }
    }
  }

  .em-events-search-dates {
    width: 100%;

    @media (min-width: $medium) {
      width: auto;
    }

    label {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;

      @media (min-width: $medium) {
        width: auto;
      }
    }

    input {
      width: 100%;

      @media (min-width: $medium) {
        width: auto;
      }
    }
  }

}

// Search events box
.search-box {
  display: none;

  @media (min-width: $xsmall) {
    // display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }

  label {
    text-transform: capitalize;
  }

  label,
  input {
    margin-right: $unit*2;
  }
}