/*
|--------------------------------------------------------------------------
| Special
|--------------------------------------------------------------------------
|
|
|
|
*/

img.wp-smiley, img.emoji {
  display: none !important;
}

@media (max-width: $medium) {
  .modal {
    margin-top: 100px;
  }
}

.professional-interests {
  column-count: 1;
  column-gap: 1rem;
  column-rule: 1px solid $color-gray-mercury;
}

@media (max-width: $small) {
  .professional-interests {
    column-count: 1;
  }
}

.at-a-glance {
  background-color: $color-blue-info;
  padding: 1.5em;
  border: 1px solid $color-blue-sail;
}

.card {
  border: none;
  .card-header {
    background: transparent;
    border:none;
  }
}