// Spacing
$unit: 5px;

// Colors
$color-white-ice: #e6f4fb;
$color-black: #000000;
$color-black-mineshaft: #333333;

$color-gray: #CCC;
$color-gray-boulder: #777777;
$color-gray-mercury: #E5E5E5;
$color-gray-text: #72777C;

$color-blue-boston: #4183C4;
$color-blue-bright: #49B4F5;
$color-blue-sail: #bee7fa;

// Neutrals
$color-neutral-00: #FFF;
$color-neutral-10: #F4F5F7;
$color-neutral-20: #E6E7E8;
$color-neutral-30: #E2E2E1;
$color-neutral-40: #D1D2D4;
$color-neutral-50: #808284;
$color-neutral-80: #333334;

// Brand Colors
$color-brand-blue: #068CC4;

// Fonts
$font-size: 16px;

$font-family: 'Roboto';
$font-family-slab: 'RobotoSlab';

// Borders
$border-radius: $unit*1.5;
$border: 1px solid $color-brand-blue;

$tap-size: 44px;
$slow-animation: 0.25s ease-in-out all;

// Media Queries
$xsmall: 480px; // e.g.iphone 4
$small: 667px; // e.g.iphone 6
$medium: 768px; // e.g. ipad
$large: 1024px; // e.g. landscape ipad, laptop
