/*
 Theme Name:   Teaching and Learning Professional Development
 Description:  Child Theme of CBox (default theme for commons-in-a-box plugin) for the Teaching and Learning Professional Development Project
 Author:       Maggie Caspar (design and development) Brad Payne, Alex Paredes (development)
 Template:     cbox-theme
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  tlpd
*/

@import 'common/variables';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/global';
@import 'common/global-classes';

@import 'components/grid';
@import 'components/map';
@import 'components/lists';
@import 'components/buttons';
@import 'components/forms';
@import 'components/table';
@import 'components/search';
@import 'components/banner';
@import 'components/special';
@import 'components/tabs';
@import 'components/nav';
@import 'components/date-picker';

@import 'layouts/header';
@import 'layouts/posts';
@import 'layouts/profile';
@import 'layouts/sidebar';
@import 'layouts/footer';
@import 'layouts/events';
@import 'layouts/admin-nav';

