// Admin Bar
#wpadminbar {
  background-color: $color-neutral-10;
  display: block !important;

  ul {
    li {
      a {
        &:hover {
          color: $color-neutral-10;
        }
      }
    }
  }

  a {
    &.ab-item {
      color: $color-neutral-80;
      &:hover {
        color: $color-neutral-10 !important;
      }
    }
  }

  @media screen and (max-width: $small) {
    position: fixed;
  }

  #wp-toolbar {

    ul.ab-submenu li a {
      color: $color-neutral-10;
      &:hover {
        background-color: $color-brand-green !important;
        color: $color-neutral-10 !important;
      }
    }

    &.quicklinks {

      ul {
        li#wp-admin-bar-bp-login {
          a {
            &:before {
              font-family: 'FontAwesome';
              content: "\f090";
              color: $color-neutral-80;
            }
            &:hover {
              &:before {
                color: $color-neutral-10;
              }
            }
          }
        }

        li#wp-admin-bar-bp-register {
          a {
            &:before {
              font-family: 'FontAwesome';
              content: "\f0e7";
              color: $color-neutral-80;
            }
            &:hover {
              &:before {
                color: $color-neutral-10;
              }
            }
          }
        }
      }

      li#wp-admin-bar-my-account.with-avatar > a img {
        position: initial;
      }

      #wp-admin-bar-my-account {
        .ab-item {
          text-indent: initial !important;
          width: auto !important;
          position: static !important;
        }
      }
    }
  }

  .menupop {
    .ab-sub-wrapper {
      background-color: $color-brand-green !important;
      color: $color-neutral-10;
    }
  }
}

#wp-admin-bar-root-default {
  display: flex;
  justify-content: flex-end;
}

#wp-toolbar, .base-menu {
  padding: 0px;
}

#wp-toolbar > ul > li {
  display: block !important;

  a {
    padding: 0 8px 0 7px !important;
  }
}

#wp-admin-bar-user-actions {
  li {
    a {
      color: $color-neutral-10 !important;
      &:hover {
        color: darken($color-neutral-20, 10%) !important;
        span {
          color: darken($color-neutral-10, 10%) !important;
        }
      }
    }
    &:hover a {
      color: $color-neutral-10 !important;
    }
  }
}

.mobile-menu-container a.button {
  background-color: transparent;
  color: $color-neutral-80;
  box-shadow: none;
}

#logo-menu-wrap div a {
  width: 200px;

  @media (min-width: $small) {
    width: auto;
  }
}

#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item {
  &:focus {
    background: $color-brand-green;
    color: $color-neutral-10;
  }

  &:hover {
    background-color: $color-brand-green;
    a {
      color: $color-neutral-10;
    }
  }
}

#wp-admin-bar-my-account-buddypress li {
  padding-left: $unit*4 !important;
}

