// Admin Bar
#wpadminbar {
  background-color: $color-blue-sail;
  display: block !important;

  @media screen and (max-width: $small){
    position: fixed;
  }
}

#wp-admin-bar-root-default {
  display: flex;
  justify-content: flex-end;
}

#wp-toolbar, .base-menu {
  padding: 0px;

  ul li a {
    color: $color-neutral-80 !important;
    &:hover {
      background-color: $color-blue-sail !important;
      color: $color-brand-blue !important;
    }
  }
}

#wp-toolbar>ul>li {
  display: block !important;

  a {
    padding: 0 8px 0 7px !important;
  }
}

#wp-admin-bar-my-account * {
  background-color: $color-blue-sail !important;
}

#wp-admin-bar-user-actions li a:hover span,
#wp-admin-bar-user-actions li:hover a,
#wp-admin-bar-user-actions li a:hover  {
  color: darken($color-brand-blue, 10%) !important;
}

.mobile-menu-container a.button {
  background-color: transparent;
  color: $color-neutral-80;
  box-shadow: none;
}

#logo-menu-wrap div a {
  width: 200px;

  @media (min-width: $small) {
    width: auto;
  }
}

#wpadminbar #wp-admin-bar-my-account .ab-item {
  text-indent: initial !important;
  width: auto !important;
  position: static !important;
}

#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item,
#wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item {
  &:focus {
    background: $color-blue-sail;
  }
}

#wp-admin-bar-my-account-buddypress li {
  padding-left: $unit*4 !important;
}

#wpadminbar {

  .quicklinks {

    ul {

      li#wp-admin-bar-bp-login {

        a {

          &:before {
            font-family: 'Glyphicons';
            content: "\e161";
            color: $color-neutral-00;
          }
        }
      }

      li#wp-admin-bar-bp-register {

        a {

          &:before {
            font-family: 'Glyphicons';
            content: "\e162";
            color: $color-neutral-00;
          }
        }
      }
    }
  }
}