/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
|
|
|
|
*/
.footer-wrap {
  background: $color-neutral-10 !important;
  color: $color-neutral-80;
  border: none;
  box-shadow: none;
  padding-top: 2rem;

  a {
    color: $color-neutral-80;

    &.text-blue{
      color: $color-brand-blue;
    }

    &:hover {
      color: $color-brand-green;
    }
  }
}

#powered-by{
  border-top: 1px solid $color-gray-boulder;
  background-color: $color-neutral-00;
  color: inherit;
  font-weight: normal;
  padding-top: 0;
}

#footer {
  .widget h4 {
    color: $color-neutral-80;
    text-shadow: none;
    font-weight: bold;
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
  }
  .footer-widget {
    color: inherit;
    text-shadow: none;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li ul {
      margin-left: 20px;
    }
  }
  & #copyright-info{
    padding: $unit*2;
    text-align: left;
  }
}

#filter-bar {
  background-color: #ffffff;
  background-origin: padding-box;
  border-top-color: #7e95b0;
  border-top-style: solid;
  border-top-width: 1px;
  bottom: 0;
  box-shadow: 0 1px 1px #fff inset, 0 3px 7px rgba(0, 0, 0, 0.1) inset;
  left: 0;
  padding-bottom: 19px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 19px;
  width: 100%;
  z-index: 2;
}

#filter-bar .container {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  text-align: left;
  width: 750px;
}

