/*
|--------------------------------------------------------------------------
| Header
|--------------------------------------------------------------------------
|
|
|
|
*/

#header {
  padding: 0 !important;
  height: auto !important;

  border-bottom: 1px solid $color-neutral-20;

  @media (min-width: $medium) {
    padding: 20px !important;
  }

  h1 {
    margin: 10px 10px 0;

    @media (min-width: $medium) {
      margin: 0;
    }
  }
}

#header {
  min-height: 140px;
  padding-top: 10px;
  padding-top: 10px;
  background: $color-neutral-00;
  width: 100%;
}
