/*
|--------------------------------------------------------------------------
| Profile page
|--------------------------------------------------------------------------
|
|
|
|
*/

#my-locations-personal-li {
  display: none;
}

.item-list-tabs {
  display: none;
}

#item-header {
  display: none;
}

#item-body h3 {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: $unit;
}
